@font-face {
    font-family: 'NotoSansKR';
    src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 500;
    src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf") format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
}

body {
    font-family: NotoSansKR, sans-serif;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

#container {
  margin: 0 auto;
  min-block-size: 100vh;
  inline-size: 78%; }

/* header */

#header {
  display: flex;
}

.header-post {
  position: relative;
  block-size: 10rem;
  inline-size: 20rem;
  padding: 0.2rem 0;
  font-size: 2rem;
}

.header-post h3 {
    text-transform: uppercase;
}

.header-post span {
    font-size: 0.6em;
    color: #5a5a5a;
}

.header-post div {
    position: absolute;
    top: 0.2em;
    left: 5em;
}

/* nav */

#index-nav {
    border-top: 0.1rem solid #d2d2d2;
    border-bottom: 0.1rem solid #aaa;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  position: relative;
  block-size: 3rem;
  inline-size: 3rem;
}

#index-nav nav .nav-icon span {
  position: absolute;
  display: block;
  margin: 0 auto;
  inline-size: 1.6rem;
  block-size: 0.25rem;
  background-color: black;
  border-radius: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
}

#index-nav nav .nav-icon span:nth-child(1) {
  top: calc(50% - 0.6rem);
}

#index-nav nav .nav-icon span:nth-child(2) {
  top: 50%;
}

#index-nav nav .nav-icon span:nth-child(3) {
  top: calc(50% + 0.55rem);
}

#index-nav nav ul li {
  float: left;
  list-style: none;
}

#index-nav nav ul li::after,
#index-nav nav ul li::before {
  content: "";
  margin: 0 1rem;
}

#index-nav nav ul li a {
  position: relative;
  outline: none;
  line-height: 3;
  font-size: 1.6rem;
  font-weight: 500;
}

#index-nav nav ul li a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background-color: hsl(200, 100%, 80%);
    z-index: -1;
    transition: transform .3s ease;

    transform: scaleX(0);
    transform-origin: bottom right;
}

#index-nav nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#index-nav nav .search-box {
    position: relative;
    inline-size: 20rem;
    border: solid black;
    border-width: 0 0 0.2rem;
}

#index-nav nav .search-box input {
    border: none;
    outline: none;
    padding: 0.5rem 0 0.4rem;
    block-size: 100%;
    inline-size: 86%;
    font-size: 1.6rem;
}

#index-nav nav .search-box button {
  position: absolute;
  border: 0;
  block-size: 100%;
  inline-size: 14%;
  background-color: #fff;
  cursor: pointer;
}

#section1 {
    display: grid;
    grid-template-columns: 74% 28rem;
    /*grid-template-columns: 8rem 48rem;*/
    justify-content: space-between;
}

#section1-1 .main-section .article .images {
    position: relative;
    overflow: hidden;
}

#section1-1 .main-section .article img {
    display: block;
    margin: 0 auto;
    inline-size: 84%;

    transition: transform .3s ease;
}
#section1-1 .main-section .article img.blurred {
    position: absolute;
    display: block;
    inline-size: 100%;
    top: 0;
    left: 0;

    filter: blur(9px);
    z-index: -1;
}

#section1-1 .main-section a:hover img.blurred {
    transform: scale(1);
}

#section1-1 .main-section a:hover img {
    transform: scale(1.02);
}

#section1-1 .main-section a .title {
    position: relative;
    background-color: #ffffff;
    padding: 1.2rem 0;
}
#section1-1 .main-section a .title::before {
    content: "";
    display: block;
    position: absolute;
    block-size: 1rem;
    left: 0;right: 0;
    bottom: 100%;
    background-color: hsl(100, 100%, 80%);
    transition: transform .3s ease;

    transform: scaleY(0);
    transform-origin: bottom left;
}

#section1-1 .main-section a:hover .title::before {
    transform: scaleY(1);
    transform-origin: bottom left;
}

#section1-1 .main-section a {
    font-size: 3.6rem;
    font-weight: 700;
}

#section1-1 .cards-section {
  display: grid;
  grid-template: repeat(3, 27rem)/repeat(3, 28rem);
  justify-content: space-between;
}

#section1-1 .bottom-cards-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section1-1 .card {
  display: inline-block;
  z-index: 0;
}

#section1-1 .sub-card {
  inline-size: 28rem;
}

#section1-1 .sub-card div.card-image-box{
    block-size: 18rem;
}

#section1-1 .sub-card .card-image-box img.card-image {
  inline-size: 28rem;
  block-size: 18rem;
}

#section1-1 .sub-card div.card-title {
    padding: 0.8rem 0;
    block-size: 6.4rem;
    font-size: 1.1rem;
    word-break: keep-all;
}

#section1-1 .cards-section .main-card {
    inline-size: auto;
    grid-area: 2 / 1 / 4 / 3;
}

#section1-1 .cards-section .main-card .card-image-box {
    block-size: 36rem;
}

#section1-1 .cards-section .main-card .card-image-box img {
    inline-size: 100%;
    max-block-size: 36rem;
}

#section1-1 .cards-section .main-card .card-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    word-break: keep-all;
}

#section1-1 .card .card-image-box {
    overflow: hidden;
}

#section1-1 .card .card-image-box img.card-image {
    transition: transform .3s ease;
}

#section1-1 .card:hover .card-image-box img.card-image {
    transform: scale(1.1);
}

#section1-1 .card div.card-title {
    position: relative;
}

#section1-1 .card div.card-title::before {
    content: "";
    display: block;
    position: absolute;
    block-size: 1rem;
    left: 0;right: 0;
    bottom: 100%;
    background-color: hsl(100, 100%, 80%);
    transition: transform .3s ease;

    transform: scaleY(0);
    transform-origin: bottom left;
}

#section1-1 .card:hover div.card-title::before {
    transform: scale(1);
    transform-origin: bottom left;
}

#section1-2 {
    font-size: 1.5rem;
}

#section1-2 h4 {
    margin-bottom: 0.8rem;
    font-size: 2rem;
}

#section1-2 .contents-wrapper {
    margin-top: 1.6rem;
    border-top: 0.1rem solid #d2d2d2;
    border-bottom: 0.1rem solid #b4b4b4;
}

/****** olympic section ******/

#olympic-section {
    block-size: 30rem;
}

/****** opinion section ******/

#opinion-section {
    block-size: 70rem;
}

#editorial-section {
    padding: 1rem 0;
    border-bottom: 0.1rem solid #e1e1e1;
    font-size: 1.5rem;
}

#editorial-section dl dt {
    float: left;
    font-size: 1.6rem;
    font-weight: 500;
}

#editorial-section dl dd {
    margin-left: 4rem;
}

#column-section {
    margin-top: 1rem;
    overflow: hidden;
}

#column-section ul {
    list-style: none;
}
#column-section ul li {
    padding-top: 1rem;
    block-size: 9rem;
}

#column-section ul li:hover span.subtitle{
    color: hsl(20, 100%, 45%);
}

#column-section .slider .slide ul li img {
    float: right;
    margin-left: 1.2rem;
    inline-size: 7rem;
    border-radius: 50%;
}

#column-section .slider .slide ul li p a span {
    display: block;
}

#column-section .slider .slide ul li p a span.title {
    color: #d4af37;
}
#column-section .slider .slide ul li p a span.subtitle {
    word-break: keep-all;
}
#column-section .slider .slide ul li p a span.writer-name {
    font-size: 1.2rem;
}

#column-section .slider div.slide {
    inline-size: 28rem;
}

#column-section .slider {
    position: relative;
}

#column-section .buttons {
    margin: 1rem auto;
    text-align: center;
}

#column-section .buttons button {
    margin: 0 1rem;
    border: 0.1rem solid #1e1e1e;
    border-radius: 100%;
    outline: none;
    inline-size: 3.2rem;
    block-size: 3.2rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #ffffff;
}

#column-section .buttons button:not([disabled]):hover {
    border-color: hsl(20, 100%, 45%);
    color: hsl(20, 100%, 45%);
}

/****** trend section ******/

#trend-section {
    block-size: 60rem;
}

#trend-tab-index {
    display: flex;
}

#trend-tab-index li.tab-btn {
    inline-size: 100%;
    padding: 1rem 0;
    border-bottom: 0.1rem solid #e1e1e1;
    font-weight: 500;
    list-style: none;
    text-align: center;
    cursor: pointer;

    transition: background-color .3s ease;
}

#trend-tab-index li.tab-btn:hover{
    background-color: #e1e1e1;
}

#trend-tab-index li.current {
    border-bottom: 0.4rem solid hsl(0, 100%, 80%);
}
.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

#trend-tabs .tab-contents ol {
    margin-top: 2rem;
}

#trend-tabs .tab-contents ol li {
    block-size: 6rem;
    list-style: none;
}

#trend-tabs .tab-contents ol li:hover span.txt{
    color: hsl(20, 100%, 45%);
}

#trend-tabs .tab-contents ol li a span.num {
    display: inline-block;
    float: left;
    margin-right: 1rem;
    inline-size: 4rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

#trend-tabs .tab-contents ol li a span.txt {
    line-height: 1.8;
    word-break: keep-all;
}

/* section 2 */
#section2 {
    padding: 1.6rem 0;
}

#section2 .slick-slide-wrapper {
    position: relative;
}

#section2 .slick-slide-box {
    overflow: hidden;
}

#section2 .slick-slide-list {
    display: table;
    table-layout: fixed;
}

#section2 .slick-slide-list .slick-slide {
    display: table-cell;
    inline-size: 24rem;
}

#section2 .slick-slide a .card-image-box img {
    inline-size: 24rem;
}

@media screen and (max-width: 1400px){
    html {
        font-size: 0.75vw;
    }
    #container {
        inline-size: 90%;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 1vw;
    }
    #container {
        inline-size: 90%;
    }

    #index-nav nav ul li::after,
    #index-nav nav ul li::before {
        margin: 0 1vw;
    }

    #index-nav nav ul li a {
        font-size: 1.2vw;
    }

    #section1 {
        grid-template-columns: 100%;
    }
    #section1-2 {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    #index-nav nav ul li::after,
    #index-nav nav ul li::before {
        margin: 0 0.6vw;
    }

}

@media screen and (max-width: 570px) {
    #index-nav {
        display: none;
    }

    #section1-1 .cards-section,
    #section1-1 .bottom-cards-section {
        display: flex;
        flex-direction: column;
        /*grid-template: repeat(4, 30rem)/repeat(2, 28rem);*/
    }

    #section1-1 .card {
        margin-bottom: 3vw;
        block-size: 80vw;
        inline-size: auto;
    }

    #section1-1 .cards-section .card .card-image-box,
    #section1-1 .bottom-cards-section .card .card-image-box {
        block-size: 60vw;
    }
    #section1-1 .cards-section .card .card-image-box img,
    #section1-1 .bottom-cards-section .card .card-image-box img {
        max-block-size: 60vw;
    }
    #section1-1 .cards-section .card .card-title,
    #section1-1 .bottom-cards-section .card .card-title {
        font-size: 3vw;

    }
    #section1-1 .cards-section .card .card-image-box img,
    #section1-1 .bottom-cards-section .card .card-image-box img{
        block-size: 60vw;
        inline-size: 100%;
    }

    #section1-1 .card div.card-title::before {
        block-size: 2rem;
    }
}