@charset "euc-kr";/* reset */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
html {height:100%;}
body {height:100%; color:#444; font:normal 12px/140% "돋움",Dotum,Verdana,Arial,AppleGothic,sans-serif;}
dl,ul,ol {list-style:none;}
fieldset, img {border:none;}
hr {display:none;}
input,textarea,select {font-size:12px;}
table {width:100%; border-spacing:0; empty-cells:show;}
legend, caption {visibility:hidden; z-index:-1; width:0; height:0; font:0/0 Sans-serif;}
em, address {font-style:normal;}

/* common */
a:link,a:visited {color:#333; text-decoration:none;}
a:hover,a:active {color:#f25632; text-decoration:none;}
.clearfix:after {display:block; visibility:hidden; clear:both; height:0; content:".";}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}
.hidden {position:absolute; top:0; left:-10000px;}

/* m1 */
.m1 {color:#525252; cursor:pointer;}
.m1 .weather {display:block; position:relative; height:32px; background:url("http://img.donga.com/home2011/images/weather.gif"); background-repeat:no-repeat;}

/* m2 */

/* m3 */
.m3 div a{display:block;padding-bottom:10px;}

/* m4 */
.m4 .rStock {display:inline-block; width:155px; height:14px; background:#f8f8f8;}
.m4 .rStock h2 {display:inline-block; float:left; padding:0 10px; background:url(http://image.donga.com/home2011/images/icon_stock.gif) no-repeat 5px 7px; color:#505050; font-size:12px;}
.m4 .rStock span {float:left; width:40px; font-size:11px; text-align:right;}
.m4 .rStock em.red {float:right; width:50px; margin-top:1px; padding-right:5px; color:red; text-align:right;}
.m4 .rStock em.blue {float:right; width:50px; margin-top:1px; padding-right:5px; color:blue; text-align:right;}

/* m5 */
.m5{width:253px;height:253px;border: 1px solid #d9d9d9;padding-top:2px;padding-left:2px;}

/* m6 */
.m6 .o2List {display:inline-block; padding:12px 0 12px 22px; background:#f8f8f8;}
.m6 .o2List a {display:inline; float:left; width:156px; padding-left:8px; background:url(http://mdimg.realclick.co.kr/D/donga1/icon_o2list.gif) no-repeat left center; line-height:160%;}

/* m7 */
.m7 ul {padding:8px 12px 5px; border:1px solid #d1d1d1;}
.m7 ul li {margin-top:3px; margin-bottom:1px;}
.m7 ul li a {height:15px; padding-left:8px; overflow:hidden; background:url(http://img.donga.com/home2011/images/icon_listAd.gif) no-repeat left center;}
.m7 ul li a.issue {font-weight:bold;}

/* m8 */
.m8 .realTimeWrap {width:322px; height:24px; border:3px solid #7595d0; background:#eee;}
.m8 .realTimeWrap h2 {float:left; width:76px; height:20px; padding-top:4px; background:#d4e0fa; color:#435e95; font-size:100%; font-weight:bold; text-align:center;}
.m8 .realTimeWrap a:link,.realTimeWrap a:visited {color:#333; text-decoration:none;}
.m8 .realTimeWrap a:hover,.realTimeWrap a:active {color:#f25632; text-decoration:none;}
.m8 .realTimeWrap a.more {float:right; width:30px; height:17px; margin-top:-23px; padding-top:7px; padding-right:10px; padding-left:2px;}
.m8 .realTime {width:200px; height:24px;}
.m8 .realTime a {float:left; width:197px; height:20px; padding-top:4px; padding-left:3px; color:#333;}
.m8 .realTime a:link,.realTime a:visited {color:#333; text-decoration:none;}
.m8 .realTime a:hover,.realTime a:active {color:#f25632; text-decoration:none;}

/* m9 */
.m9 p {width:72px; height:83px; overflow:hidden; text-align:center; line-height:110%;}
.m9 p a {color:#777; font-size:11px; letter-spacing:-1px;}
.m9 p a:hover {color:#f25632;}
.m9 p img {display:block; margin-bottom:6px; border:1px solid #a0a2a1;}

/* m10 */
.m10 a {display:inline-block; margin-left:4px; padding-left:8px; background:url(http://img.donga.com/home2011/images/icon_imaAd.gif) no-repeat left 6px; color:#555;}
.m10 a:hover {color:#f25632;}

/* m11 */

/* m12 */
.m12 .notice {display:inline-block; height:28px;}
.m12 .notice #divP {display:inline-block; width:250px; margin-top:5px;}
.m12 .notice span {display:inline; float:left; padding-left:3px; color:#05459c; font-weight:bold;}
.m12 .notice span a:link, .notice span a:visited, .notice span a:active, .notice span a:hover {color:#05459c; font-weight:bold;}

/* m13 */

/* m14 */
.m14 p {padding:39px 80px 14px 109px;}
.m14 p iframe {margin-right:7px;}

/* m15 */

/* v1 */

/* v2 */
.v2 #rc_101012 {width:280px; height:140px; background:#fff;}
.v2 #rc_101012 div {display:inline; float:left;}
.v2 #rc_101012 img {margin:8px 5px 0 0; border:0 none;}
.v2 #rc_101012 .adarea {width:260px; padding:5px 10px 0 10px;}
.v2 #rc_101012 .slot {width:100%; height:20px; overflow:hidden;}
.v2 #rc_101012 a {color:#666; font:bold 12px '돋움', Dotum; text-decoration:none; line-height:20px;}
.v2 #rc_101012 a:hover {text-decoration:underline;}

/* v3 */
.v3 a:link, .v3 a:visited, .v3 a:active {color:#343434; text-decoration:none}
.v3 a:hover {color:#fb4c14; text-decoration:underline}
.v3 .D12 {color:#343434; font-size:12px; font-family:'돋움';}

/* v4 */

/* v5 */
.v5 div {width:220px; margin:0 10px;}
.v5 div p a {display:inline-block; height:20px; padding-left:5px; background:url(http://img.donga.com/home2011/images/bg_icon_dot.gif) no-repeat 0 6px; font-weight:bold;}

/* v6 */
.v6 .realTimeNews {width:250px; height:30px; margin-left:0; background:url(http://image.donga.com/home2011/images/bg_sub_realnews.gif) no-repeat left top;}
.v6 .realTimeNews strong {display:inline-block; margin:8px 7px 8px -13px; color:#fff; font-size:11px;}
.v6 .realTimeNews div {display:inline-block; width:200px; padding:4px 0 3px 40px; font-weight:bold; ;}
.v6 .realTimeNews div a:link, .realTimeNews span a:visited {color:#fefefe;}
.v6 .realTimeNews div a:hover, .realTimeNews span a:active {color:#f25632;}

/* v7 */

/* v8 */

/* v9 */
.v9 .subAd202In .tit {padding:24px 0 4px 5px; color:#3785d8; font-size:12px; font-family:"굴림", Gulim; line-height:100%;}
.v9 .subAd202In .tit strong {color:#000;}
.v9 .subAd202In .tit span {display:block; padding:2px 0 0 2px; font-size:11px; text-align:center; word-spacing:-1px;}
.v9 .subAd202In .adwrap4List {margin-top:7px;}
.v9 .subAd202In .adwrap4List a {display:inline-block; margin-left:7px; font-family:"굴림", Gulim; line-height:180%;}
.v9 .subAd202In .adwrap4List span {font-weight:bold;}
.v9 .subAd202In .adwrap4List {width:226px; padding-bottom:7px; border-bottom:1px solid #dadada;}
.v9 .subAd202In .adwrap4 span {font-weight:bold;}

/* v10 */
.v10 .subAd112In {width:103px; font-size:11px; text-align:center;}
.v10 .subAd112In img {display:block; margin-bottom:5px;}
.v10 .subAd112In a {display:inline-block; word-spacing:-1px;}

/* v11 */

/* v12 */
.v12 {font-family:verdana, "돋움"; letter-spacing:-1px;}
.v12 #color a:link, .v12 #color a:visited, .v12 #color a:active {color:#000; font-size:12px; font-weight:bold; text-decoration:none;}
.v12 #color a:hover {color:#fb4c14; font-size:12px; font-weight:bold; text-decoration:underline;}
.v12 #box {width:220px; height:166px; border-top:1px solid #dadada; border-bottom:0px solid #dadada; background-color:#fff;}
.v12 #title {margin-right:15px; margin-left:11px; padding-top:10px; padding-bottom:4px; border-bottom:0px solid #ecebeb; color:#346ecf; font-weight:bold;}
.v12 #box li {margin-right:15px; margin-left:11px; overflow:hidden; text-indent:0px; line-height:22px;}
.v12 #line {padding-top:2px; padding-bottom:2px;}
.v12 #line li {height:3px; border-bottom:1px dashed #bcbbbb; background:none;}
.v12 #blank {height:5px; padding:0; font-size:1px; line-height:1px;}

/* v13 */
.v13 .subAd1071In {width:100px; font-size:12px; line-height:133%; letter-spacing:-1px;}
.v13 .subAd1071In img {display:block;}
.v13 .subAd1071In a.title {display:inline-block; margin:0 0 0 6px; text-align:left;}
.v13 .subAd1071In a.photo {display:block; height:75px; margin:4px 0 4px 0; overflow:hidden; text-align:center;}
.v13 .subAd1071In a.photo img {padding:0 0 1px 0;}
.v13 .subAd1071In a.photo span {display:block; color:#787878; font-size:11px;}
.v13 .subAd1071In li {height:12px; padding:0 0 4px 5px; overflow:hidden; background:url(http://image.donga.com/home2011/images/bg_viewadtop_dot.gif) no-repeat 0 5px; text-align:left;}

/* v14 */
.v14 div {width:100px; height:100px; text-align:center;}
.v14 div img {display:block;}
.v14 div span {font-size:11px;}
.v14 div a {height:38px;}

/* v15_1(리스트형), v15_2(갤러리형) */
.v15 div {border-right:1px solid #d9d9d9; border-left:1px solid #d9d9d9;}
.v15 .images_45 {position:relative; width:243px; height:155px; padding:15px 0 0 5px; overflow:hidden;}
.v15 .images_45:after {display:block; clear:both; content:"";}
.v15 .images_45 p {float:left; width:105px;}
.v15 .images_45 p img {margin-bottom:4px;}
.v15 .images_45 p strong,
.v15 .images_45 p span {display:block; font-size:11px; text-align:center; letter-spacing:-1px;}
.v15 .images_45 .first {padding-right:28px;}
.v15 .contents_45 {position:relative; height:100%;}
.v15 .contents_45 h3 {margin:0 0 13px 0; padding:6px 0 3px 12px; border-bottom:1px solid #d9d9d9; color:#333; font-size:12px;}
.v15 .contents_45 h3 span {color:#2a5aa6;}
.v15 .contents_45 ol {margin:0 0 0 15px; padding:0 0 2px 0; list-style:none; line-height:145%;}
html>/**/body .v15 .contents_45 ol {margin:0 0 0 15px; padding:0; list-style:none; line-height:145%;}
.v15 .contents_45 li {margin:0 0 4px 0; vertical-align:top;}
.v15 .contents_45 li img {margin:0 3px 0 0;}
.v15 .contents_45 a img {position:absolute; top:8px; right:8px;}

/* v16 */
.v16 .pictorialWrap {position:relative; width:521px; height:334px; margin:0 0 35px 0; border:1px solid #dadada;}
.v16 .pictorialWrap img {vertical-align:middle;}
.v16 .pictorialWrap h2 {position:absolute; top:13px; left:20px;}
.v16 .pictorialWrap h2 img {display:block;}
.v16 .pictorialWrap .photoGallery {position:relative; width:481px; margin:0 20px; padding:38px 0 0 0; font:11px/133% '돋움',Dotum,sans-serif; text-align:center;}
.v16 .pictorialWrap .photoGallery .mainPhoto {position:relative; float:left; font-size:12px; font-weight:bold;}
.v16 .pictorialWrap .photoGallery .mainPhoto span {display:inline-block; width:0; height:100%; overflow:hidden; vertical-align:middle;}
.v16 .pictorialWrap .photoGallery .mainPhoto .photoTxt {display:block; padding-top:8px;width:340px; height:15px; overflow:hidden;}
.v16 .pictorialWrap .photoGallery .mainPhoto p.mainPhotoBg {width:350px; height:263px;background-color:#ededed;}
.v16 .pictorialWrap .photoGallery .sidePhotoList {float:right;}
.v16 .pictorialWrap .photoGallery .sidePhotoList a {display:block; position:relative; width:124px; height:83px; margin:0 0 7px 0; background-color:#ededed;}
.v16 .pictorialWrap .photoGallery .sidePhotoList span {display:inline-block; width:0; height:100%; overflow:hidden; vertical-align:middle;}
.v16 .pictorialWrap .photoGallery .sidePhotoList .photoTxt {position:absolute; top:64px; left:0; width:114px; height:15px; padding:4px 5px 0 5px; overflow:hidden; background:url(http://img.donga.com/home2011/images/photo_png.png) 0 0; color:#fff;}
.v16 .pictorialWrap .photoGallery .more {position:absolute; top:16px; right:1px; padding:0 0 0 7px; background:url(http://img.donga.com/home2011/images/bg_gallery_arrow.gif) no-repeat 0 2px; color:#828282; letter-spacing:-1px;}
.v16 .pictorialWrap .photoGallery .more:hover {color:#f25632;}
* html .pictorialWrap .photoGallery .sidePhotoList .photoTxt {background:#444; filter:alpha(opacity=80);}

/* v17 */
.v17 .onWorldWrap {position:relative; width:521px; height:334px; margin:0 0 35px 0; border:1px solid #dadada;}
.v17 .onWorldWrap h2 {position:absolute; top:13px; left:20px;}
.v17 .onWorldWrap h2 img {display:block;}
.v17 .onWorldWrap .info {position:absolute; top:17px; left:100px; color:#7e7e7e; font:bold 11px/133% "돋움",Dotum,sans-serif; letter-spacing:-1px;}
.v17 .onWorldWrap .photoGallery {position:relative; width:481px; margin:0 20px; padding:38px 0 0 0; font:11px/133% "돋움",Dotum,sans-serif; text-align:center;}
.v17 .onWorldWrap .photoGallery .mainPhoto {position:relative; float:left; font-size:12px; font-weight:bold;}
.v17 .onWorldWrap .photoGallery .mainPhoto span {display:block; padding-top:8px;width:340px; height:15px; overflow:hidden;}
.v17 .onWorldWrap .photoGallery .mainPhoto p.mainPhotoBg {width:350px; height:263px;background-color:#ededed;}
.v17 .onWorldWrap .photoGallery .mainPhoto p.mainPhotoBg a {display:inline-block; margin-top:15px;}
.v17 .onWorldWrap .photoGallery .mainPhoto p.mainPhotoBg .playIcon {position:absolute; top:35%; left:39%;}
.v17 .onWorldWrap .photoGallery .sidePhotoList {float:right;}
.v17 .onWorldWrap .photoGallery .sidePhotoList a {display:block; position:relative; width:124px; height:83px; margin:0 0 7px 0; background-color:#ededed;}
.v17 .onWorldWrap .photoGallery .sidePhotoList span {position:absolute; top:64px; left:0; width:114px; height:15px; padding:4px 5px 0 5px; overflow:hidden; background:url(http://img.donga.com/home2011/images/photo_png.png) 0 0; color:#fff;}
.v17 .onWorldWrap .photoGallery .more {position:absolute; top:16px; right:1px; padding:0 0 0 7px; background:url(http://img.donga.com/home2011/images/bg_gallery_arrow.gif) no-repeat 0 2px; color:#828282; letter-spacing:-1px;}
.v17 .onWorldWrap .photoGallery .more:hover {color:#f25632;}
* html .v17 .eTvWrap .photoGallery .mainPhoto .mainPhotoBg span {background:#555; filter:alpha(opacity=75);}
* html .v17 .eTvWrap .photoGallery .sidePhotoList span {background:#444; filter:alpha(opacity=80);}
* html .v17 .png24 {tmp:expression(setPng24(this));}

/* v18 */
.v18 .eTvWrap {position:relative; width:521px; height:334px; margin:0 0 35px 0; border:1px solid #dadada;}
.v18 .eTvWrap h2 {display:block; position:absolute; top:7px; left:20px;}
.v18 .eTvWrap h2 img {display:block;}
.v18 .eTvWrap .photoGallery {position:relative; width:481px; margin:0 20px; padding:38px 0 0 0; font:11px/133% '돋움',Dotum,sans-serif; text-align:center;}
.v18 .eTvWrap .photoGallery .mainPhoto {position:relative; float:left; font-size:12px; font-weight:bold;}
.v18 .eTvWrap .photoGallery .mainPhoto span {display:block; width:340px; height:15px; padding-top:8px;overflow:hidden;}
.v18 .eTvWrap .photoGallery .mainPhoto .mainPhotoBg a {display:block; width:350px; height:263px;background-color:#ededed;}
.v18 .eTvWrap .photoGallery .mainPhoto .mainPhotoBg .mainPhotoTxt{position:absolute; top:239px; left:0; width:340px; height:20px; padding:4px 5px 0 5px; overflow:hidden; background:url(http://img.donga.com/home2011/images/photo_png.png) 0 0; color:#fff; text-align:left; text-align:center; line-height:160%;}
.v18 .eTvWrap .photoGallery .mainPhoto .mainPhotoBg .playIcon {position:absolute; top:30%; left:39%;}
.v18 .eTvWrap .photoGallery .sidePhotoList {float:right;}
.v18 .eTvWrap .photoGallery .sidePhotoList a {display:block; position:relative; width:124px; height:83px; margin:0 0 7px 0; background-color:#ededed;}
.v18 .eTvWrap .photoGallery .sidePhotoList span {position:absolute; top:64px; left:0; width:114px; height:15px; padding:4px 5px 0 5px; overflow:hidden; background:url(http://img.donga.com/home2011/images/photo_png.png) 0 0; color:#fff;}
.v18 .eTvWrap .photoGallery .more {position:absolute; top:16px; right:1px; padding:0 0 0 7px; background:url(http://img.donga.com/home2011/images/bg_gallery_arrow.gif) no-repeat 0 2px; color:#828282; letter-spacing:-1px;}
.v18 .eTvWrap .photoGallery .more:hover {color:#f25632;}
* html .v18 .eTvWrap .photoGallery .mainPhoto .mainPhotoBg span {background:#555; filter:alpha(opacity=75);}
* html .v18 .eTvWrap .photoGallery .sidePhotoList span {background:#444; filter:alpha(opacity=80);}
* html .v18 .png24 {tmp:expression(setPng24(this));}

/* v19 */
.v19 #box {width:260px; height:60px;}
.v19 #box li {overflow:hidden; line-height:24px;}
/*background:url(http://nad.adtive.co.kr/nad/media/68wbScD40J/img/bl_20100511_1747.gif) no-repeat 0 6px;*/

/* v20 */
.v20 .subAd1151In {position:relative; padding:22px 0 0 0; font-size:15px; font-weight:bold;}
.v20 .subAd1151In .subCntAdBox {text-align:left;}
.v20 .subAd1151In .subCntAdLeft,
.v20 .subAd1151In .subCntAdRight {float:left; width:235px;}
.v20 .subAd1151In .subCntAdLeft {margin-right:10px;}
.v20 .subAd1151In .subCntAdLeft a,
.v20 .subAd1151In .subCntAdRight a {display:inline-block; height:17px; margin:4px 0 0 2px; padding:0 0 0 7px; overflow:hidden; background:url("http://img.donga.com/home2011/images/btn_subCntAd13.gif") no-repeat 0 6px; text-align:left;}
.v20 .subAd1151In span {display:block;}
.v20 .subAd1151In .subCntAdLeft strong a,
.v20 .subAd1151In .subCntAdRight strong a {color:#DE4105;}
.v20 .subAd1151In .subCntAdLink {position:absolute; top:5px; right:0;}

/* v21 */
.v21 .subAd1152In {font-size:15px; font-weight:bold; letter-spacing:-1px;}
.v21 .subAd1152In .subCntAdBox {text-align:left;}
.v21 .subAd1152In .subCntAdLeft,
.v21 .subAd1152In .subCntAdRight {float:left; width:235px;}
.v21 .subAd1152In .subCntAdLeft {margin-right:10px;}
.v21 .subAd1152In .subCntAdLeft a,
.v21 .subAd1152In .subCntAdRight a {display:inline-block; height:16px; margin:1px 0 0 2px; padding:0 0 0 7px; overflow:hidden; background:url(http://img.donga.com/home2011/images/btn_subCntAd13.gif) no-repeat 0 6px; text-align:left;}
.v21 .subAd1152In span {display:block;}
.v21 .subAd1152In .subCntAdLeft strong,
.v21 .subAd1152In .subCntAdRight strong {color:#4775ca;}

/* v22 */
.v22 .subAd114In {width:480px; height:125px; overflow:hidden; text-align:left;}
.v22 .subAd114In .tit {padding:0 0 2px 0; font-size:12px; font-weight:bold; font-family:"굴림", Gulim;}
.v22 .subAd114In .section {word-spacing:-1px;}
.v22 .subAd114In .section .subCntPhoto {display:inline; float:left; margin:0 16px 0 0;}
.v22 .subAd114In .section strong {display:block; margin:0 0 9px 0; color:#343434; font-size:14px;}
.v22 .subAd114In .section .subCntCon {line-height:135%;}
.v22 .subAd114In .section a:hover, .subAd114In .section a:active {color:#ff4d10;}

/* v23 */
.v23 #box {width:480px; height:110px;/* border:0px solid #c4c4c4;*/}
.v23 #inbox {padding:0 0 0 0;}
.v23 #inbox ul {float:left; width:105px; margin-right:0px; padding-left:20px; text-align:center;}
.v23 #inbox ol {float:left; width:105px; margin-right:0px; padding-left:0px; text-align:center;}
.v23 #inbox li img {padding:0 0 3px 0;}

/* v24 */
.v24 .subAd116In {width:480px; height:110px; padding:13px 0 0 0; word-spacing:1px;}
.v24 .subAd116In .ban01,
.v24 .subAd116In .ban02,
.v24 .subAd116In .ban03,
.v24 .subAd116In .ban04 {display:inline; float:left; width:108px; padding-left:15px;}
.v24 .subAd116In .ban01 {padding-left:0px;}
.v24 .subAd116In .bannerSytle {display:block; padding:7px 0 0 0; color:#4172d9; font-weight:bold; text-align:center; line-height:120%;}
.v24 .subAd116In table {border-collapse:collapse; border-spacing:0; border:0;}
.v24 .subAd116In table tbody td {width:108px; padding-right:19px; text-align:left;}
.v24 .subAd116In table a.images_new {font-weight:normal;}
.v24 .subAd116In table a.images_new img {margin-bottom:1px;}
.v24 .subAd116In table a.images_new font {font-weight:bold;}
.v24 .subAd116In table a.images_new:hover {color:#f25632; font-weight:normal;}

/* v25 */

/* v26 */

/* v27 */



/* v28  이선이 추가*/
.v28 .subAd114In {overflow:hidden; border:1px solid #dbdfde;padding:12px 10px 12px 10px;text-align:left;}
.v28 .subAd114In .tit {font-size:14px; font-weight:bold; font-family:"돋움", Dotum;color:#566e8a;}
.v28 .subAd114In .section {display:inline-block;word-spacing:-1px;}
.v28 .subAd114In .section .subCntPhoto {display:inline; float:left; margin:0 4px 0 0;}
.v28 .subAd114In .section strong {display:block; margin:0 0 5px 0; color:#343434; font-size:14px;}
.v28 .subAd114In .section .subCntCon {line-height:135%;}
.v28 .subAd114In .section a:hover, .subAd114In .section a:active {color:#ff4d10;}

/* incBanner 김광섭 추가 2011 11 04*/
.incBanner #box {text-align:left;width:530px; height:120px; clear:both;}
.incBanner #box li {overflow:hidden; line-height:24px;}
.incBanner #box li a{color:#000000;font-weight:bold;}
.incBanner #box li a:hover{color:#f25632;font-weight:bold;}